@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css');
*{
	font-family: 'Open Sans', 'sans-serif', 'FontAwesome';
}
body
{
background: rgb(52, 56, 61);
width: 70%;
margin: auto;
}
.div
{
margin-top: 200px; 
}
.container
{
}
h1
{
font-size: 54px;
margin-top: 12px;
color: rgb(255, 255, 255);
margin-bottom: 40px;
}
input[type=text], input[type=password]
{
width: 29%;
padding: 8px;
display: inline-block;
border: 2px solid #CC0033;
box-sizing: border-box;
margin-bottom: 5px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
border-bottom-left-radius: 8px;
outline: none;
border: none;
border: solid 1px #f2f2f2;
}
button
{
margin-top: 8px;
margin-bottom: 15px;
text-decoration: none;
width: 17%;
background: rgb(0,78,255);
background: linear-gradient(162deg, rgba(0,78,255,1) 0%, rgba(201,25,25,1) 100%);
color: white;
font-size: 32px;
border-top-left-radius: 50px;
border-top-right-radius: 50px;
border-bottom-right-radius: 50px;
border-bottom-left-radius: 50px;
border: 1px solid rgb(255, 255, 255);

}
h2
{
color: white;
}
.text-center-h
{
text-align: center;	
}
.input
{
text-align: center;
}
a
{
text-decoration: none;
color: rgb(0,155,255);
}
